nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding:0;
    margin:0;
    background-color: black;
    padding: 0.5rem 1rem;
    border: 2px solid white;
}
li a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    

}
li a:hover{
    background-color: blue;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-weight: bold;
}
body{
    background-color: black;
    text-align: center;
    color: white;
}
h1{
    text-align: center;
    color: white;
}
h3{
    color: white;
}
img{
    width: 7%;
    border-radius: 10px;
    margin: 1.3rem;
}
@media (min-width:376px) {
    img{
        width:3%;
        margin: 1.5rem
    }
}
footer{
    font-size: 1rem;
    margin-top: 24%;
    text-align: center;
    background-color: black;
    color: white;
    padding: 1rem 2rem;
    
}
@media (max-width: 375px) {
    footer{
        margin-top: 80%;
    }
}