
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding:0;
    margin:0;
    background-color: black;
    padding: 0.5rem 1rem;
    border: 2px solid white;
}
li a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    

}
li a:hover{
    background-color: blue;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-weight: bold;
}
.home{
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100vh;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.intro{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
}
h2{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 0;

}
h3{
    font-weight: bold;
    text-align: center;
    margin: 0;
}
#intro{
    font-weight: bold;
    text-align: center;
    font-style: italic;
}
.CTA{
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
    background-color: white;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}
.CTA:hover{
    background-color: blue;
    color: white;
}
@media (min-width:376px) {
    li a{
    font-size: 1rem;
    }
    h2{
        font-size: 1.1rem;
    }
    h3{
        font-size: 0.9rem;
    }
    #intro{
        font-size: 1rem;
    }
}
