nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding:0;
    margin:0;
    background-color: black;
    padding: 0.5rem 1rem;
    border: 2px solid white;
}
li a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    

}
li a:hover{
    background-color: blue;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-weight: bold;
}
body{
    background-color: black;
}
h1{
    text-align: center;
    color: white;
}
.projects-container img{
    width: 100%;
}
.aa{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.3rem 1rem;
}
.aa:hover{
    color: blue;
    border-radius: 10px;
    font-size: 1.3rem;
    
}
.projects-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    
}
.project1{
    text-align: center;
    font-weight: bold;
    background-color: rgb(36, 34, 34);
    border-radius: 10px;
}
.project2{
    text-align: center;
    background-color: rgb(36, 34, 34);
    border-radius: 10px;
    font-weight: bold;
}
.project3{
    text-align: center;
    background-color: rgb(36, 34, 34);
    border-radius: 10px;
    font-weight: bold;
}
.project4{
    text-align: center;
    background-color: rgb(36, 34, 34);
    border-radius: 10px;
    font-weight: bold;
}
.project5{
    text-align: center;
    background-color: rgb(36, 34, 34);
    border-radius: 10px;
    font-weight: bold;
}
footer{
    font-size: 1rem;
    margin-top: 10%;
    text-align: center;
    background-color: black;
    color: white;
    padding: 1rem 2rem;
    
}
@media (max-width: 375px) {
    footer{
        margin-top: 60%;
    }
}